<div id="chat">
  <div id="chat-window">
    <div class="chat-bubble left">
      <span>こんにちは！何かお話しましょうか？</span>
    </div>
  </div>
  <form id="chat-form">
    <input type="text" id="input-text" placeholder="ここに入力してください">
    <button type="submit" id="submit-button">送信</button>
  </form>
</div>
