#chat {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: auto;
}

#chat-window {
  padding: 10px;
}

.chat-bubble {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 20px;
}

.left {
  background-color: #ffe0b2;
  float: left;
  clear: both;
}

#chat-form {
  margin-top: 10px;
}

#input-text {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

#submit-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
